#im_bar {z-index: 111113;}

.im_bar_min
{
	width: 100%;
	height: 30px;
	background: url(../img/bg.jpg) repeat-x;
	position: fixed;
	bottom: 0;
	_position: absolute;
	_bottom: 0;
	left: 0;
	_left: 0;
	color: black;
	
	text-align: left;
	overflow:visible;
}

.im_btn
{
	cursor: pointer;
}

.im_btn_cur
{
	z-index: 10001;
}

.im_btn_hover
{
	background-repeat: no-repeat;
	background-image: url(jyim.png);
	background-position: 0px 0px;
}

.im_win
{
	background-color: white;
	font-size: 12px;
	position: absolute;
	cursor: default;
	bottom: 29px;
	border: 1px solid #d8478d;
}

.im_loading
{
	width: 264px;
	margin-top: 130px;
	text-align: center;
}

.im_loading span
{
	line-height: 24px;
	font-size: 14px;
	vertical-align: top;
}

.im_list
{
	font-size: 12px;
	line-height: 20px;
}

#im_chatx .im_list, #im_msgx .im_list
{
	height: 182px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.im_mi
{
	height: auto;
	line-height: 22px;
	color: #333333;
	
	padding: 8px;
	
	border-bottom: solid 1px #E9E9E9;
	overflow: hidden;
}

.im_mi .im_msg_cont
{
	padding-left: 23px;
}

.im_mi .im_msg_icon
{
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 2px;
	background-image: url(../img/msg_icon.gif);
	background-position: -48px -32px;
}

.im_mi .im_msg_icon.im_msg_icon_101{background-position:-16px -16px;}
.im_mi .im_msg_icon.im_msg_icon_103{background-position: -32px -16px;}
.im_mi .im_msg_icon.im_msg_icon_104{background-position: -48px 0px;}
.im_mi .im_msg_icon.im_msg_icon_106{background-position: -80px 0px;}
.im_mi .im_msg_icon.im_msg_icon_107{background-position: 0px -16px;}
.im_mi .im_msg_icon.im_msg_icon_108{background-position: 0px 0px;}
.im_mi .im_msg_icon.im_msg_icon_109{background-position: -32px 0px;}
.im_mi .im_msg_icon.im_msg_icon_113{background-position: -32px -32px;}
.im_mi .im_msg_icon.im_msg_icon_114{background-position: -16px -32px;}
.im_mi .im_msg_icon.im_msg_icon_115{background-position: 0px -32px;}
.im_mi .im_msg_icon.im_msg_icon_119{background-position: -48px -16px;}
.im_mi .im_msg_icon.im_msg_icon_121{background-position: -64px -16px;}
.im_mi .im_msg_icon.im_msg_icon_1999{background-position: 0px -16px;}

.im_mi a
{
	color: #BC0073;
}

.im_mi span
{
	display: block;
	width: 298px;
	text-align: right;
}

#im_msgx .im_msg_cont span
{
	width: 275px;
}

.im_list_no_chat
{
	display:block;
	position: relative; 
    left:12px; 
    top:3%; 
}
.im_list_no_chat > a
{
	margin-left: 0px;
	color: #D53887;
	cursor: pointer;
}

#im_rec_chat_con
{
	height: 180px;
}

.im_rec_chat
{
	float: left;
	margin-left: 17px;
	margin-top:12px;
	height: 140px;
	width: 80px;
}
.im_rec_chat > img
{
	width:80px;
	height:100px;
	margin-bottom:5px;
	cursor:pointer;
}

.im_rec_chat > span
{
	background-repeat: no-repeat;
	background-image: url(jyim2.gif);
	background-position: -160px -60px;
	padding-left: 20px;
	margin-left: 5px;
	cursor:pointer;
	display: block;
}

.im_jy_logo
{
	margin-left: 60px;
	margin-top: 30px;
}

#im_pop_win
{
	width: 265px;
	height: 186px;
	border-bottom: none;
	bottom: 30px;
	right: 0px;
	margin-bottom: 0px;
}

#im_pop_win .im_title
{
	width: 265px;
	height: 29px;
	background: url(../img/title_centerBg.gif) repeat-x;
	color: white;
}

.im_t_tab
{
	float: left;
	margin-top: 3px;
	margin-left: 4px;
	width: 70px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}

.im_t_tab_cur
{
	border: 1px solid #D8478D;
	border-bottom: 1px solid white;
	background-color: white;
	color: black;
}

.im_pop_content
{
	display: none;
	margin: 16px 10px 16px 12px;
	font-size: 12px;
	color: #636363;
	height: 126px;
	line-height: 20px;
	overflow: auto;
}

.im_pop_content span
{
	display: block;
	width: 232px;
	text-align: right;
}

.im_pop_content img
{
	margin-left: 16px;
}

.im_pop_content_cur
{
	display: block;
}
.im_pop_content a
{
	color: #EB006D;
}

#im_chat_pop_win
{
	width: 245px;
	height: 126px;
	bottom: 30px;
	z-index: 900;
	background-image: url(chat_pop.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	right: 0px;
	border: none;
}

.im_chat_win_title
{
	height: 28px;
	color: white;
}

.im_chat_win_nick
{
	float:left;
	text-indent: 38px;
	font-size:12px;
	font-weight:bold;
	width: 200px;
	height: 28px;
	line-height:28px;
	overflow: hidden;
	color: white;
}

#im_chat_pop_win .im_t_close
{
	width: 16px;
	height: 16px;
	margin: 4px 8px 4px 2px;
	background-image: none;
}
#im_chat_pop_win .im_chat_win_content
{
	display:block;
	margin:0px 0px;
	height:100px;	
}

.im_chat_win_content div > span
{
	margin: 8px 10px 0px 12px;
	text-align:left;
	width:212px;
}


.im_chat_win_content .im_tosee_chatmsg
{
	cursor:pointer;
	margin-left:150px;
}

/* yuan fen miao sha*/
#im_yfms
{
	margin: 0px;
	position: absolute;
	right: 0px;
	bottom: 30px;
	font-size: 12px;
	z-index: 2000;
	font-size:12px;
	line-height:23px; 
	text-align:left;
	display:none;
}
#im_yfms div{width:200px;}

#im_yfms a{color:#eb006d;text-decoration:none;}
#im_yfms a:hover{color:#eb006d;text-decoration:underline;}
.im_yfms_a1{font-weight: bold;}
.im_yfms_a2{color:blue!important;}

.im_yfms_text{width:208px;height:42px; margin:11px 25px 20px 0px; overflow:hidden; color:#4e4e4e; position:relative;}
.im_yfms_text div{width:100%;height:100%;overflow:hidden;cursor:pointer;}
#im_yfms p{width:200px; margin:0; padding:0;text-align:right; padding-right:32px;}
#im_yfms p a{margin-left:10px;}

.im_yfms_tpl0
{
	width: 225px;
	height: 160px;
	padding: 95px 0px 0px 70px;
	background-image: url(ms/background.gif);
	overflow: hidden;
}
.im_yfms_tpl0 .im_yfms_text{left:-10px;}

.im_yfms_tpl1,
.im_yfms_tpl2
{
	width: 246px;
	height: 190px;
	padding: 86px 0px 0px 24px;
}
.im_yfms_tpl1 .im_yfms_text,.im_yfms_tpl2 .im_yfms_text{padding-left: 6px;}
.im_yfms_tpl1 p, .im_yfms_tpl2 p{text-align:center!important;}
.im_yfms_tpl1{background-image: url(ms/backgroundf.gif);}
.im_yfms_tpl2{background-image: url(ms/backgroundm.gif);}

.newim_footbar {width:100%; background:url(../img/bootbar_bg.gif) repeat-x; height:33px; line-height:33px; position:fixed; _position:absolute; bottom:0px; _bottom:-1px; left:0px; z-index:10000; _TOP: expression(offsetParent.scrollTop+document.documentElement.clientHeight-this.offsetHeight);}
.recService .im_inner_btn.i1 {background-position:16px -2px}
.recService .im_inner_btn.i2 {background-position:16px -30px}
.recService .im_inner_btn.i3 {background-position:16px -59px}
.recService .im_inner_btn.i4 {background-position:16px -88px}
.recService .im_inner_btn span {height:29px; line-height:29px;}
.footbar_service_curr {font-size:12px; padding:0 20px 0 32px; height:32px; line-height:32px; float:left; text-align:left; border:1px #2982D6 solid; border-top:1px #F5FAFF solid; background:url(../img/footbar_ico.gif) 12px 0px no-repeat #F5FAFF;  z-index:11; cursor:pointer; position:absolute; bottom:0px; _bottom:-1px; left:0px; }

.myservice_panel {width:198px; height:auto; display: none; text-align:left; left: 0; z-index: 9999; overflow: hidden;}
.myservice_panel h2 {padding-left:10px; height:27px; line-height:30px; background:url(../img/bootbar_tit.gif) no-repeat; color:#fff; font-size:12px; font-weight:400;display: block;margin: 0;float: none;}
.myservice_panel h2 em {float:left; font-style:normal;}
.myservice_panel h2 .small {width:20px; height:20px; float:right; display:inline-block; margin:3px 5px 0px 0px;  text-indent:-9999px; cursor:pointer;}
.service_current {width:180px; margin:0px auto; padding:10px 0 5px 0; position:relative;}
.service_current p {color:#666; padding:1px 0;line-height:20px;margin:0px;}
.service_current p em {color:#E8006D; font-style:normal;}
.service_current p strong {font-size:12px;font-weight:bold;}
.service_current .b1 {width:56px; height:23px; position:absolute; top:56px; right:10px; }
.service_current .b2 {width:56px; height:23px; position:absolute; top:33px; right:0px; }
.service_current .button a:link,.service_current .button a:visited {width:56px; height:23px; line-height:23px; background:url(../img/footbar_btn.gif) no-repeat; text-align:center; color:#fff; display:block;}
.service_current .button a:hover {text-decoration:none; background-position:0 -33px;}
.service_item {width:178px; margin:0px auto; border:1px #7DBBD5 solid; position:relative;}
.service_item h3 {line-height:30px; background:#EAF5FF; color:#333; text-align:center; font-size:14px;font-weight:bold;}
.service_item li {height:34px; line-height:34px; padding-left:35px; color:#666;}
.service_item li em {float:left; font-style:normal; display:inline;}
.service_item li span {width:38px;float:right; padding:0 5px 0 0; display:inline; height:34px; line-height:34px;}
.service_item li span a:link,.service_item li span a:visited {color:#06c; text-decoration:underline; font-family:"宋体";}
.service_item li span a:hover {color:#f00;}
.service_item li.bg1 {background-color:#FDFDFD;}
.service_item li.bg2 {background-color:#F7F7F7;}

.service_more {text-align:right; padding:5px 10px;}
.service_more a:link,.service_more a:visited {color:#06c; text-decoration:underline; font-family:"宋体";}
.service_more a:hover {color:#f00;}

.ico1{background:url(../img/icon1.png) 10px center no-repeat scroll;}
.ico2{background:url(../img/icon2.png) 10px center no-repeat scroll;}
.ico3{background:url(../img/icon3.png) 10px center no-repeat scroll;}
.ico4{background:url(../img/icon4.png) 10px center no-repeat scroll;}
.ico5{background:url(../img/icon5.png) 10px center no-repeat scroll;}
.ico6{background:url(../img/icon6.png) 10px center no-repeat scroll;}
.ico7{background:url(../img/icon7.png) 10px center no-repeat scroll;}
.ico8{background:url(../img/icon8.png) 10px center no-repeat scroll;}
.ico9{background:url(../img/icon9.png) 10px center no-repeat scroll;}
.ico10{background:url(../img/icon10.png) 10px center no-repeat scroll;}
.ico11{background:url(../img/icon11.png) 10px center no-repeat scroll;}
.ico12{background:url(../img/icon12.png) 10px center no-repeat scroll;}
.ico13{background:url(../img/icon13.png) 10px center no-repeat scroll;}
.ico14{background:url(../img/icon14.png) 10px center no-repeat scroll;}
.ico15{background:url(../img/icon15.png) 10px center no-repeat scroll;}
.ico16{background:url(../img/icon16.png) 10px center no-repeat scroll;}

/*鼓励女会员发信弹层*/
#im_zhuanti{bottom: 30px; position: absolute; right: 0px; margin: 0px; z-index: 999;}
.v4LayerNew{width:220px; height:215px; background:url(../img/newBan.gif);}
.v4LayerNewTop{overflow:hidden;}
.v4LayerNewClose{width:24px; height:24px; display:block; float:right; cursor: pointer;}
.v4LayerNewBody{padding:135px 0 0 75px;}
.v4LayerNewMore{width:120px; height:30px; display:block;}
.v4LayerZhudong{width:220px; height:215px; background:url(../img/zhudongBan.gif);}

/*定位*/
.fl {float: left; display: inline;}
.fr {float: right; display: inline;}
.pr {position: relative;}
.pa {position: absolute;}

.im_btn .im_inner_btn {width: 92px; height: 28px; border: 1px solid #CACACA; line-height: 30px; text-align: center; display: block; color: #666; text-decoration: none; overflow: hidden;}
.im_attached_pop a.active_btn {background: url(../img/small_a.gif) no-repeat 88% center; border: 1px solid #D84781; border-top: 1px solid #e9e9e9; position: relative; z-index: 10000;}
.message .im_inner_btn {margin-top: 0px;}
.message a.active_btn {margin-top: 0px; background: url(../img/message_icon.gif) no-repeat 18% center; width: 112px;}
.onlineTalk a.active_btn {background: url(../img/onlineTalk_icon.gif) no-repeat 26% center; width: 112px; height: 28px;}
.oneCity .im_inner_btn {width: 113px; background: url(../img/oneCity_icon.gif) no-repeat 18% center; text-indent: 44px; text-align: left;}
.oneCity a.active_btn {background: url(../img/oneCity_icon.gif) no-repeat 18% center;}
.onlineTalk .im_inner_btn {width: 113px; border-right: none; background: url(../img/onlineTalk_icon.gif) no-repeat 26% center; text-align: left; text-indent: 50px;}
.myService .im_inner_btn {width: 113px; background:url(../img/footbar_ico.gif) 18px -1px no-repeat; text-indent: 15px;border-right: none;}
.myService a.active_btn{width:112px; background:url(../img/footbar_ico.gif) 18px -1px no-repeat; text-indent: 16px;}
.recService .im_inner_btn {background:url(../img/footbar_ico.gif) no-repeat; text-indent: 25px;}
.recService a.active_btn {background:url(../img/footbar_ico.gif) no-repeat; text-indent: 25px;}
.myJiayuan .im_inner_btn {background: url(../img/mysvc.png) 65px 7px no-repeat; text-indent: 13px; text-align: left;}
.myJiayuan a.active_btn {background: url(../img/mysvc.png) 65px 7px no-repeat; text-indent: 13px; text-align: left;}
.jiayuanCenter .im_inner_btn {background: url(../img/small.gif) no-repeat 88% center;}
.message .im_inner_btn {border-right: none; background: url(../img/message_icon.gif) no-repeat 18% center; text-align: left; text-indent: 42px; float: left; width: 113px;}
.brand_mid .im_inner_btn {border-left: medium none; border-right: medium none; text-align: center; width: 300px; color: red; text-decoration: underline;}
.big_brand_mid .im_inner_btn {width: 500px;}
.letter .im_inner_btn {width: 130px; border-right: none; background: url(../img/letter_icon.gif) no-repeat 14% center; text-align: left; text-indent: 44px; float: left;}
.letter .im_inner_btn.new {background-image: url(../img/xin.gif)}
.im_btn .right_border {border-right: 1px solid #CACACA;}
.letter .amount {margin-left: -46px;}
.izhenxin .im_inner_btn {width: 140px; border-right: none; background: url(../img/letter_icon.gif) no-repeat 14% center; text-align: left; text-indent: 40px; float: left;}
.izhenxin1 .im_inner_btn {border-right: none; background: url(../img/message_icon.gif) no-repeat 18% center; text-align: left; text-indent: 42px; float: left; width: 113px;}
.izhenxin2 .im_inner_btn {border-right: none; background: url(../img/izx_icon.gif) no-repeat 11% center; text-align: left; text-indent: 36px; float: left; width: 133px;}
.onlineTalk .amount {margin-left: 80px;margin-top:-30px;}
.oneCity .amount {margin-left: 80px;margin-top:-30px;}
.amount {height: 24px; padding-top: 6px; margin-left: -37px;}
.amount_leftBg {width: 7px; height: 18px; background: url(../img/amount_leftBg.gif) no-repeat; display: inline-block;}
.amount_rightBg {width: 7px; height: 18px; background: url(../img/amount_rightBg.gif) no-repeat; display: inline-block;}
.amount_centerBg {width: auto; height: 18px; background: url(../img/amount_centerBg.gif) repeat-x; display: inline-block; line-height: 16px; color: #fff; font-weight: bold;}
.im_service_list {width: auto; height: 16px; padding: 7px 10px;}
.im_service_list li {width: 16px; height: 16px; float: left; margin: 0 5px; display: inline; cursor: pointer;}
.im_service_list li a {width: 100%; height: 100%; display: block; background-image: url(../img/svc_icon.jpg); text-indent: -999em;
    hide-focus:expression(this.hideFocus=true);
    outline-style: none;
}
.im_service_list .diamond a {background-position: -160px -64px;}
.im_service_list .diamond a:hover {background-position: -160px -160px;}
.im_service_list .diamond_g a {background-position: -176px -64px;}
.im_service_list .diamond_g a:hover {background-position: -176px -160px;}
.im_service_list .vip a {background-position: -64px -64px;}
.im_service_list .vip a:hover {background-position: -64px -160px;}
.im_service_list .vip_g a {background-position: -80px -64px;}
.im_service_list .vip_g a:hover {background-position: -80px -160px;}
.im_service_list .chat a {background-position: -128px -64px;}
.im_service_list .chat a:hover {background-position: -128px -160px;}
.im_service_list .chat_g a {background-position: -144px -64px;}
.im_service_list .chat_g a:hover {background-position: -144px -160px;}
.im_service_list .readmail a {background-position: -96px -80px;}
.im_service_list .readmail a:hover {background-position: -96px -176px;}
.im_service_list .readmail_g a {background-position: -112px -80px;}
.im_service_list .readmail_g a:hover {background-position: -112px -176px;}
.im_service_list .brightlist a {background-position: -96px -64px;}
.im_service_list .brightlist a:hover {background-position: -96px -160px;}
.im_service_list .brightlist_g a {background-position: -112px -64px;}
.im_service_list .brightlist_g a:hover {background-position: -112px -160px;}
.im_service_list .forground a {background-position: -64px -80px;}
.im_service_list .forground a:hover {background-position: -64px -176px;}
.im_service_list .forground_g a {background-position: -80px -80px;}
.im_service_list .forground_g a:hover {background-position: -80px -176px;}
.im_service_list .jystamp a {background: url(../img/jystamp.gif) 0 0 no-repeat;}
.im_service_list .jystamp a:hover {background: url(../img/jystamp_h.gif) 0 0 no-repeat;}
.im_service_list .express a {background: url(../img/1601.jpg) 0 0 no-repeat;}
.im_service_list .express_g a {background: url(../img/1602.jpg) 0 0 no-repeat;}
.im_service_list .speedpost a {background: url(../img/t.jpg) 0 0 no-repeat;}
.im_service_list .speedpost a:hover {background: url(../img/t_h.png) 0 0 no-repeat;}
.myjiayuan_content {width: 198px; height:auto; border: 1px solid #D84781; padding-bottom: 5px; display: none; overflow: hidden;}
.myjiayuan_content_title {width: 200px; height: 29px;}
.title_centerBg {width: 179px; height: 29px; background: url(../img/title_centerBg.gif) repeat-x; float: left; color: #fff; font-weight: bold; line-height: 29px; text-indent: 10px; _width: 181px; font-size:100%;}
.title_leftBg {width: 2px; height: 29px; background: url(../img/title_leftBg.gif) no-repeat;}
.title_rightBg {width: 17px; height: 29px; background: url(../img/title_rightBg.gif) no-repeat; cursor: pointer; position:relative;}
.myjiayuan_content h2 {height: 30px; line-height: 30px; font-weight: bold; text-indent: 10px; font-size:12px; float: none;}
.usingService {}
.usingService li {height: auto; border-bottom: 1px solid #e9e9e9; width: 168px; padding: 10px 15px 0 15px; background: none; text-indent: 0px;}
.usingService li.first {padding-top: 0;}
.usingService li span, .recommendService li span {width: 32px; height: 32px; float: left;}
.svc_icon_40 {background: url(../img/svc_icon.jpg) -128px 0px;}
.svc_icon_40_g {background: url(../img/svc_icon.jpg) -160px 0px;}
.svc_icon_5 {background: url(../img/svc_icon.jpg) 0px -32px;}
.svc_icon_5_g {background: url(../img/svc_icon.jpg) -32px -32px;}
.svc_icon_4 {background: url(../img/svc_icon.jpg) 0px 0px;}
.svc_icon_4_g {background: url(../img/svc_icon.jpg) -32px 0px;}
.svc_icon_33 {background: url(../img/svc_icon.jpg) -64px 0px;}
.svc_icon_33_g {background: url(../img/svc_icon.jpg) -96px 0px;}
.svc_icon_38 {background: url(../img/svc_icon.jpg) -64px -32px;}
.svc_icon_38_g {background: url(../img/svc_icon.jpg) -96px -32px;}
.svc_icon_41 {background: url(../img/svc_icon.jpg) -128px -32px;}
.svc_icon_100 {background: url(../img/juguangdeng.jpg) 0px 0px;}
.svc_icon_41_g {background: url(../img/svc_icon.jpg) -160px -32px;}
.svc_icon_2 {background: url(../img/svc_icon.jpg) 0px -64px;}
.svc_icon_2_g {background: url(../img/svc_icon.jpg) -32px -64px;}
.svc_icon_332{background: url(../img/svc_icon_332.jpg) 0 0;}
.svc_icon_332_g{background: url(../img/svc_icon_332.jpg) -32px 0;}
.usingService strong, .recommendService strong {float: left; font-weight: bold; color: #666; line-height: 32px; height: 32px; padding: 0 9px;}
.usingService a {display: block; width: 55px; height: 31px; background: url(../img/icon.jpg) no-repeat -128px 0; border: none; text-indent: -9999px; overflow: hidden; position: absolute; right: 10px;}
.usingService a:hover {background: url(../img/xufei_h.gif) 0 0;}
.usingService div {height: auto; line-height: 20px; color: #999; clear: both; display: block; font-style:normal;}
.usingService div.expire {color: #EE2233;}
.usingService .hide_svc{position: relative; top: 3px; vertical-align: top;}
.recommendService li {padding: 0 15px; width: 168px; margin-bottom: 0; background: none; text-indent: 0px;}
.recommendService a {display: block; width: 47px; height: 22px; background: url(../img/icon.jpg) no-repeat 0 -60px; border: none; text-indent: -9999px; overflow: hidden; margin-top: 5px; right: 15px; position: absolute;}
.recommendService a:hover {background: url(../img/apply_h.gif) 0 0;}
.recommendService em {color: #EE2233; clear: both; display: block; font-style: normal; white-space: normal; text-indent: 0;}
.myjiayuan_content .moreService {color: #3E90DD; display: block; height: 24px; line-height: 24px; border: none; padding-left: 4px; text-decoration: underline; text-indent: 10px;}
.jiayuanCenter_content {width: 148px; height: auto; display: none; overflow: hidden;}
.jiayuanCenter_content_title {width: 150px; height: 29px;}
.jiayuanCenter_content_title h1 {width: 131px;}
.jiayuanCenter_content .im_list {padding: 12px 0 12px 0px;}
.jiayuanCenter_content .im_item {height: 30px; line-height: 30px; font-size: 12px; position: relative;}
.jiayuanCenter_content .im_item a {border: none; height: 30px; line-height: 30px; text-align: left; width: 100%; overflow: hidden; font-size: 12px; text-decoration: none; color:#666; display: block; text-indent: 8px;}
.jiayuanCenter_content .im_item a:hover{font-weight: bold; background: #FFE9F2; text-decoration: none;}
.jiayuanCenter_content .im_item strong {color: #DD1764;}
.jiayuanCenter_content .im_item span {width: 28px; height: 12px; display: inline; background-image: url(../img/icon.jpg); margin-top: 9px; _margin-top: 0px; *margin-top: 0px; overflow: hidden; position: absolute; right: 8px;}
.jiayuanCenter_content .im_item span.new {background-position: 0 -48px;}
.jiayuanCenter_content .im_item span.hot {background-position: -28px -48px;}
#im_friend {width: 238px; height: 323px; right: 0; display: none; z-index: 9999; overflow: hidden;}
.oneCity_content_title {width: 240px; height: 29px;}
.oneCity_content_title h1 {width: 221px;}
.oneCity_content_title a.change {right: 22px; display: inline; border: none; width: 40px; height: 14px; background: none; text-indent: 0; line-height: 14px; top: 9px; color: #fff; position: absolute; font-weight: normal;}
#im_friend .im_list {padding: 0 10px 4px 5px; overflow: hidden;}
#im_friend .im_list .im_fi {width: 223px; height: 37px; border-bottom: 1px solid #E7E8E9; padding: 5px 0; overflow: hidden;}
#im_friend .im_list .im_fi a {border: none; background: none; width: auto; text-indent: 0; overflow: hidden;}
#im_friend .im_list .im_fi img {width: 30px; height: 37px;}
#im_friend .im_list .im_fi.im_f_on .im_fi_n div{float: left; margin-top: 11px;width:13px; height:16px;background-repeat: no-repeat; background-image: url(../img/online.gif);}
#im_friend .im_list .im_fi a.headLink {width: 30px; height: 37px;}
#im_friend .im_list .im_fi a.nameLink {text-align: left; height: 37px; line-height: 37px; margin:0 5px;color: #666;text-decoration: none;}
#im_friend .im_list .im_fi a.talkLink, #im_friend .im_list .im_fi a.messageLink {width: 34px; height: 37px; line-height: 37px; color: #2C81D6; text-decoration: underline; text-align: center;}
.onlineTalk_content, .message_content {width: 323px; height: 210px; right: -106px; display: none; z-index: 9999; overflow: hidden;}
.onlineTalk_content_title, .message_content_title {width: 323px; height: 29px;}
.onlineTalk_content_title h1, .message_content_title h1 {width: 304px;}
.onlineTalk_content_title a.notes {display: inline; width: 100px; height: 14px; line-height: 14px; text-indent: 0; top: 9px; color: #fff; border: none; right: 22px; background: none; position: absolute; font-weight: normal;}
.message_content {display: none; right: -184px;}
.message_content_title a.all {display: inline; width: 50px; height: 14px; line-height: 14px; text-indent: 0; top: 9px; color: #fff; border: none; right: 28px; background: none;}
.im_win_title{height: 29px;}
.im_win_title a.im_t_close {width: 17px; height: 29px; display: block; text-indent: -9999px; right: 0px; top:0px; border: none; position: absolute;}

/*提示图标修改----*
.im_win_title a.im_t_close {width: 17px; height: 29px; display: block; background: url(../img/closed.gif) 0 11px no-repeat; text-indent: -9999px; right: 0px; top:0px; border: none; position: absolute;}
/*提示图标修改----*/

.message_content ul {width: 324px; height: 156px; overflow-y: auto; padding-bottom: 4px;}
.message_content ul li {padding: 5px 10px; width: auto; height: auto; border-bottom: 1px solid #e9e9e9;}
.message_content ul li p {height: 24px; line-height: 24px; color: #333; width: auto; white-space: nowrap; padding-left: 27px;}
.message_content ul li p a {border: none; display: inline; background: none; text-indent: 0; width: auto; float: none; color: #BC0073; margin: 0 4px;}
.message_content ul li p a.checkNow {color: #2C81D6; text-decoration: underline; float: right; display: inline;} 

#im_rec_user {margin:2px 0px 0 80px;}
#im_rec_user a{display: block; width: 195px; padding-left:30px; height: 24px; line-height:24px; background: url(../img/view_bg.gif) no-repeat 0 0; overflow: hidden;  text-decoration:none; color:#fff;}
#im_rec_user a:hover {background: url(../img/view_bg.gif) no-repeat 0 -24px; text-decoration:none; color:#fff;}

/*begin3.0改版----*/
#im_friend{width:240px; height:400px; border:solid 1px #D84781;}
#im_friend .webimTop{height:28px; background:url(../img/webimTop.jpg) 0 0 no-repeat; overflow:hidden;}
#im_friend .webimTop ul{padding:3px 0 0 5px;}
#im_friend .webimTop li{width:66px; height:25px; font:12px/24px "宋体"; float:left; text-align:center;color:#fff; cursor: pointer;}
#im_friend .webimTop li.oning{ background:url(../img/webimTopli.jpg) 0 0 no-repeat; color:#CE437B; font-weight:bold;}
#im_friend .webimTop li.addnew{ background:url(../img/addnew.jpg) 43px 2px no-repeat;}
#im_friend .webimTop li a{width:66px; height:25px; display:block;}
#im_friend .webimClose{width:25px; height:25px; float:right; cursor:pointer;}
#im_friend .im_list{height:372px; overflow:hidden; padding: 0px;}
#im_friend .webimZaixian{height:28px; border-bottom:solid 1px #e7e7e7; overflow:hidden; padding: 0 5px 0 15px;font:12px/28px "宋体"; }
#im_friend .webimZaixianRS{width:120px; float:left; color:#999;line-height: 28px;}
#im_friend .webimZaixianRS span {color:#E35D1B;}
#im_friend .webimCakanquanbu{width:80px;float:right; text-align:right;line-height: 28px;}
#im_friend .webimCakanquanbu a:link,
#im_friend .webimCakanquanbu a:hover,
#im_friend .webimCakanquanbu a:visited,
#im_friend .webimCakanquanbu a:active{color:#2C81D6; text-decoration:none;}
#im_friend .webimList{height:310px;overflow:hidden; overflow-y:auto; display: none;}
#im_friend .webimList li{height:42px;background:url(../img/webim_line.jpg) 0 bottom no-repeat; overflow: hidden;}
#im_friend .webimList li.webim_lihover{height:42px;background:url(../img/webim_libg1.jpg) 0 0 repeat-x;}
#im_friend .webimList li.webim_liactive{height:42px;background:url(../img/webim_libg2.jpg) 0 0 repeat-x;}
#im_friend .webimList li.webim_liaddnew{height:42px; background:url(../img/webim_liaddnew.jpg) 0 0 repeat-x;}
#im_friend .im_samecity_online_plat{width:30px; height:40px; float:left;}
#im_friend .webimListIcon1{background:url(../img/webim_icon1.gif) 8px 13px no-repeat;}
#im_friend .webimListIcon2{background:url(../img/webim_icon2.gif) 8px 13px no-repeat;}
#im_friend .webimListIcon3{background:url(../img/webim_icon3.gif) 8px 13px no-repeat;}
#im_friend .webimListIcon4{background:url(../img/webim_icon4.gif) 8px 13px no-repeat;}
#im_friend .webimListIcon5{background:url(../img/webim_icon5.gif) 8px 13px no-repeat;}
#im_friend .webimListIcon6{background:url(../img/webim_icon6.gif) 8px 13px no-repeat;}
#im_friend .webimListPic{width:32px; height:32px; padding-top:4px; float:left;overflow:hidden; position:relative;}
#im_friend .webimListPic a.imglink{width:32px; height:39px; display:block; margin-top:-3.5px;}
#im_friend .webimListPic img{width:32px; height:39px;}
#im_friend .webimListPicBorder{width:32px; height:40px; display:block;text-decoration:none; position:absolute; z-index:10; background:url(../img/webim_border.gif) 0 0 no-repeat; top:0; left:0; }
#im_friend .webimList li.webim_lihover .webimListPicBorder{background:url(../img/webim_border2.gif) 0 0 no-repeat;}
#im_friend .webimList li.webim_liactive .webimListPicBorder{background:url(../img/webim_border3.gif) 0 0 no-repeat;}
#im_friend .webimList li.webim_liaddnew .webimListPicBorder{background:url(../img/webim_border4.gif) 0 0 no-repeat;}
#im_friend .webimListName{width:60px; height:24px;font:12px/24px "宋体"; padding-top:8px; float:left; overflow:hidden;}
#im_friend .webimListName span{ margin-left:8px;} 
#im_friend .webimListName a:link,
#im_friend .webimListName a:hover,
#im_friend .webimListName a:visited,
#im_friend .webimListName a:active{color:#000; text-decoration:none;}
#im_friend .webimListNum{width:40px; height:20px; float:left; padding-top:11px; cursor:pointer;}
#im_friend .webimListNum table{ margin:0 auto;}
#im_friend .webimListNum td.webimListNumL,
#im_friend .webimListNum td.webimListNumR{width:7px;height:16px;font:12px/16px "宋体"; overflow: hidden;}
#im_friend .webimListNumL{background:url(../img/webim_numL.gif) 0 center no-repeat;}
#im_friend .webimListNumR{background:url(../img/webim_numR.gif) 0 center no-repeat;}
#im_friend .webimListNumM{background:url(../img/webim_numM.gif) 0 center repeat-x;font:12px/16px Arial, Helvetica, sans-serif;color:#fff; font-weight:bold;}
#im_friend .webimListButton{width:58px;height:18px;float:right; padding-top:11px;}
#im_friend a.webimListLT:hover,
#im_friend a.webimListLT:link,
#im_friend a.webimListLT:visited,
#im_friend a.webimListLT:active{width:51px; height:18px; display:none; background:url(../img/webim_button.gif) 0 0 no-repeat; margin-left:3px;}
#im_friend a.webimListXX:hover,
#im_friend a.webimListXX:link,
#im_friend a.webimListXX:visited,
#im_friend a.webimListXX:active{width:51px; height:18px; display:none; background:url(../img/xiexin.gif) 0 0 no-repeat; margin-left:3px;}
#im_friend .webimList li.webim_lihover a.webimListLT,
#im_friend .webimList li.webim_lihover a.webimListXX{display: block;}
#im_friend .webimListAnzhuang{height:30px; border:solid 1px #e7e7e7; border-bottom:solid 1px #e7e7e7; text-align:center; background:#ffffff;display: none;}
#im_friend .webimListAnzhuang a{font:12px/30px Arial, Helvetica, sans-serif, "宋体"; text-decoration:none; color:#3E90DD;}
#im_friend .im_loading{width: 100%; height: 310px; text-align: center; margin:0px;}
#im_friend .im_loading table{width: 100%; height: 100%; vertical-align: middle; line-height:20px;}
#im_friend .im_loading table td{text-align: center;}
/*end3.0改版----*/
/*右下角弹出--打招呼*/
#im_profile_pop_win{bottom: 30px; position: absolute; right: 0px; margin: 0px; z-index: 999; overflow: visible;}
#im_profile_pop_win .dzhLayer{width:218px; height:111px; background: url(../img/dzh/dzhLayer.png) 0 0 no-repeat;}
#im_profile_pop_win .dzhLayer_top{height:20px;padding:5px 10px 0 0;}
#im_profile_pop_win a.dzhLayer_close:link,
#im_profile_pop_win a.dzhLayer_close:hover,
#im_profile_pop_win a.dzhLayer_close:active,
#im_profile_pop_win a.dzhLayer_close:visited{width:15px; height:15px; display:block;float:right;  text-decoration:none;}
#im_profile_pop_win .dzhLayer_set{width:15px; height:15px;float:right;  text-decoration:none; cursor:pointer; position:relative;}
#im_profile_pop_win a.dzhLayer_bxs:link,
#im_profile_pop_win a.dzhLayer_bxs:hover,
#im_profile_pop_win a.dzhLayer_bxs:active,
#im_profile_pop_win a.dzhLayer_bxs:visited{width:106px; height:28px; display:block; position:absolute;right:5px;bottom:10px; z-index:100; background:url(../img/dzh/bztx_1.gif) 0 0 no-repeat; font-size:12px; line-height:28px; text-align:center; color:#333; text-decoration:none;} 
#im_profile_pop_win a.dzhLayer_bxs:hover{background:url(../img/dzh/bztx_2.gif) 0 0 no-repeat;}
#im_profile_pop_win .dzhLayer_text{padding-left:41px; background:url(../img/dzh/icon_zaixian.gif) 20px center no-repeat; height:24px; font-size:12px; line-height:24px;color:#333;}
#im_profile_pop_win .dzhLayer_icon{height:58px; position:relative;}
#im_profile_pop_win .dzhLayer_iconImg{padding:15px 0 0 23px; }
#im_profile_pop_win .dzhLayer_iconImg img{cursor:pointer;}
#im_profile_pop_win .dzhLayer_iconImg a{width:35px; height:28px; display:block; float:left; margin:0 5px;padding-top:7px;text-align:center; text-decoration: none;}
#im_profile_pop_win .dzhLayer_iconImg a:hover{ background:url(../img/dzh/iconBg.png) 0 0 no-repeat; text-decoration: none;}
#im_profile_pop_win .dzhLayer_iconImg .hi span{width:21px; height:21px; background: url(../img/dzh/hi.gif) 0 0 no-repeat; margin:auto; display: block;}
#im_profile_pop_win .dzhLayer_iconImg .face span{width:20px; height:20px; background: url(../img/dzh/face.gif) 0 0 no-repeat; margin:auto; display: block;}
#im_profile_pop_win .dzhLayer_iconImg .flower span{width:20px; height:20px; background: url(../img/dzh/flower.gif) 0 0 no-repeat; margin:auto; display: block;}
#im_profile_pop_win .dzhLayer_iconImg .heart span{width:20px; height:20px; background: url(../img/dzh/heart.gif) 0 0 no-repeat; margin:auto; display: block;}
#im_profile_pop_win .tishilayer1,
#im_profile_pop_win .tishilayer2,
#im_profile_pop_win .tishilayer3,
#im_profile_pop_win .tishilayer4{width:232px; height:62px;position:absolute; left:-2px; top:-47px; color:#333; font-size:12px;  display: none;}
#im_profile_pop_win .tishilayer1{background:url(../img/dzh/tishi_layer1.png) 0 0 no-repeat; cursor: pointer;}
#im_profile_pop_win .tishilayer2{background:url(../img/dzh/tishi_layer2.png) 0 0 no-repeat; cursor: pointer;}
#im_profile_pop_win .tishilayer3{background:url(../img/dzh/tishi_layer3.png) 0 0 no-repeat; cursor: pointer;}
#im_profile_pop_win .tishilayer4{background:url(../img/dzh/tishi_layer4.png) 0 0 no-repeat; cursor: pointer;}
#im_profile_pop_win .tishilayer1 p.tishilayer_hi{padding:12px 20px 0 45px;line-height:32px;height:32px; background:url(../img/dzh/hi.gif) 15px 15px no-repeat; text-decoration: none; text-align:left;}
#im_profile_pop_win .tishilayer2 p.tishilayer_face{padding:12px 20px 0 45px;line-height:32px;height:32px;background:url(../img/dzh/face.gif) 15px 15px no-repeat; text-decoration: none;text-align:left;}
#im_profile_pop_win .tishilayer3 p.tishilayer_flower{padding:12px 20px 0 45px;line-height:32px;height:32px; background:url(../img/dzh/flower.gif) 15px 15px no-repeat; text-decoration: none;text-align:left;}
#im_profile_pop_win .tishilayer4 p.tishilayer_xin{padding:12px 20px 0 45px;line-height:32px;height:32px; background:url(../img/dzh/heart.gif) 15px 15px no-repeat; text-decoration: none;text-align:left;}

#im_profile_pop_win .tishilayer1 p.tishilayer_hi2{padding:4px 20px 0 45px;line-height:20px;height:40px; background:url(../img/dzh/hi.gif) 15px 15px no-repeat; text-decoration: none;text-align:left;}
#im_profile_pop_win .tishilayer2 p.tishilayer_face2{padding:4px 20px 0 45px;line-height:20px;height:40px;background:url(../img/dzh/face.gif) 15px 15px no-repeat; text-decoration: none;text-align:left;}
#im_profile_pop_win .tishilayer3 p.tishilayer_flower2{padding:4px 20px 0 45px;line-height:20px;height:40px;background:url(../img/dzh/flower.gif) 15px 15px no-repeat; text-decoration: none;text-align:left;}
#im_profile_pop_win .tishilayer4 p.tishilayer_xin2{padding:4px 20px 0 45px;line-height:20px;height:40px;background:url(../img/dzh/heart.gif) 15px 15px no-repeat; text-decoration: none;text-align:left;}

#im_profile_pop_win .dzhLayer_loading{ text-align:center; padding:25px 0 0 0 ; color:#666; display: none;}
#im_profile_pop_win .dzhLayer_loading img{width:16px; height: 16px; vertical-align:middle; margin-right:5px;}
#im_profile_pop_win .dzhLayer_loaded{ text-align:center; padding:25px 0 0 0 ; color:#666; display: none;}
#im_profile_pop_win .dzhLayer_loaded img{width:17px; height: 14px; vertical-align:middle; margin-right:5px;}
/*广告部分*/
#im_jiaxin_pop_win{bottom: 30px; position: absolute; right: 0px; margin: 0px; z-index: 999;}
#im_jiaxin_pop_win .jx3_0_1_adv1{background:url(../img/adv/layer_adv1.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv2{background:url(../img/adv/layer_adv2.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv3{background:url(../img/adv/layer_adv3.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv4{background:url(../img/adv/layer_adv4.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv5{background:url(../img/adv/layer_adv5.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv6{background:url(../img/adv/layer_adv6.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv7{background:url(../img/adv/layer_adv7.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv8{background:url(../img/adv/layer_adv8.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv1{background:url(../img/adv/131014_1.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv2{background:url(../img/adv/131014_2.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv3{background:url(../img/adv/131014_3.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv4{background:url(../img/adv/131014_4.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv5{background:url(../img/adv/131014_5.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv6{background:url(../img/adv/131014_6.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv7{background:url(../img/adv/131014_7.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv8{background:url(../img/adv/131014_8.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv9{background:url(../img/adv/131014_9.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_2_1_adv10{background:url(../img/adv/131014_10.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv{width:185px; height:91px;}
#im_jiaxin_pop_win .jx3_0_1_advTop{overflow:hidden; height:20px;}
#im_jiaxin_pop_win a.jx3_0_1_advClose:link,
#im_jiaxin_pop_win a.jx3_0_1_advClose:hover,
#im_jiaxin_pop_win a.jx3_0_1_advClose:active,
#im_jiaxin_pop_win a.jx3_0_1_advClose:visited{width:20px; height:20px; display:block;float:right;  text-decoration:none;}
#im_jiaxin_pop_win .jx3_0_1_advBody{padding:0;}
#im_jiaxin_pop_win .jx3_0_1_advBody a:link,
#im_jiaxin_pop_win .jx3_0_1_advBody a:hover,
#im_jiaxin_pop_win .jx3_0_1_advBody a:visited,
#im_jiaxin_pop_win .jx3_0_1_advBody a:active{width:185px; height:65px; display:block; text-decoration:none;}
#im_jiaxin_pop_win .jx3_0_1_adv1 a.jx3_0_1_advButton:link{ background:url(../img/adv/layer_adv1Button.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv1 a.jx3_0_1_advButton:hover{ background:url(../img/adv/layer_adv1Button.png) 0 -30px no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv2 a.jx3_0_1_advButton:link{ background:url(../img/adv/layer_adv2Button.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv2 a.jx3_0_1_advButton:hover{ background:url(../img/adv/layer_adv2Button.png) 0 -30px no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv3 a.jx3_0_1_advButton:link{ background:url(../img/adv/layer_adv3Button.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv3 a.jx3_0_1_advButton:hover{ background:url(../img/adv/layer_adv3Button.png) 0 -30px no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv4 a.jx3_0_1_advButton:link{ background:url(../img/adv/layer_adv4Button.png) 0 0 no-repeat;}
#im_jiaxin_pop_win .jx3_0_1_adv4 a.jx3_0_1_advButton:hover{ background:url(../img/adv/layer_adv4Button.png) 0 -30px no-repeat;}
/*右下VIP会员*/
.im_pop_content .memberTxt{padding-left:6px;color:#4d4d4d;font:normal 12px/22px SimSun;}
.im_pop_content .memberTxt strong{font-weight:bold;}
.im_pop_content .memberTxt .colorPink{color:#eb006d;display:inline;text-align:left;}
.im_pop_content .memberTxt em.colorPink{font-weight:bold;}
.im_pop_content .preferential{text-align:center;margin-top:10px;}
.im_pop_content .preferential a{background:#ff8a1d url(../img/prefButton.jpg) no-repeat 0 0;display:inline-block;text-align:center;width:89px;height:28px;font-weight:bold;font:bold 12px/28px SimSun;color:#fff;}
.im_pop_content .preferential a:hover{text-decoration:none;}